@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #191919;
  font-family: 'Roboto', sans-serif;
}
