<div class="container-index-games">
  <%= link_to 'Tictactoe', tictactoe_path, class:"main-btn"%>
  <%= link_to 'Checkers', checkers_path, class:"main-btn" %>
  <%= link_to '2048', twothousandfourtyeight_path, class:"main-btn" %>
</div>
