<div data-controller="tictactoe" class="container-tictactoe">
  <div class="game-tictactoe">
    <div class="grids-tictactoe">
      <div class="gridrow-tictactoe">
        <div class="grid-tictactoe"></div>
        <div class="grid-tictactoe"></div>
        <div class="grid-tictactoe"></div>
      </div>
      <div class="gridrow-tictactoe">
        <div class="grid-tictactoe"></div>
        <div class="grid-tictactoe"></div>
        <div class="grid-tictactoe"></div>
      </div>
      <div class="gridrow-tictactoe">
        <div class="grid-tictactoe"></div>
        <div class="grid-tictactoe"></div>
        <div class="grid-tictactoe"></div>
      </div>
    </div>
  </div>
</div>
