<div data-controller="twothousandfourtyeight" class="container-2048">
  <div class="game">
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
    <div class="grid">
      <!-- TILE -->
    </div>
  </div>
</div>
